.about-us {
  padding: 3rem 0 7rem;
  // background-color: #f3f3f3;
}

.about-us .content ul {
  list-style: none;
  padding: 0;
}

.about-us .content ul li {
  padding-left: 28px;
  position: relative;
}

.about-us .content ul li + li {
  margin-top: 10px;
}

.about-us .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #5f259f;
  line-height: 1;
}
