.faq {
  padding: 3rem 0 7rem;
  background-color: #ffffff;
}

.faq .accordion-button {
  background-color: #f3f3f3;
}

.faq .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #bea2dd;
}

.faq .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(95, 37, 159, 0.25);
}
