<app-navbar></app-navbar>

<div class="container profile-container">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="../assets/images/undraw_profile.png" />
          <div class="file btn btn-lg btn-primary">
            Alterar Foto
            <input type="file" name="file" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>Mark Greene</h5>
          <h6>UPA 24 horas - Elisa Sbrissa Franchozza</h6>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
              >
                Perfil
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#contact"
                type="button"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
              >
                Contato
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="items-tab"
                data-bs-toggle="tab"
                data-bs-target="#items"
                type="button"
                role="tab"
                aria-controls="items"
                aria-selected="false"
              >
                Itens
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-useful">
          <p>Úteis</p>
          <a
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasChangePassword"
            aria-controls="offcanvasChangePassword"
            >Trocar Senha</a
          ><br />
          <a
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasEditUser"
            aria-controls="offcanvasEditUser"
            >Editar Usuário</a
          ><br />
          <a
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasChangedEmployer"
            aria-controls="offcanvasChangedEmployer"
            >Troquei de Empregador</a
          >
          <p>Histórico</p>
          <a href="">Doações Enviadas</a><br />
          <a href="">Doações Recebidas</a><br />
          <a href="">Empréstimos Enviados</a><br />
          <a href="">Empréstimos Recebidos</a><br />
        </div>
      </div>

      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Nome</label>
              </div>
              <div class="col-md-6">
                <p>Mark Greene</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>mark.greene@er.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Telefone</label>
              </div>
              <div class="col-md-6">
                <p>12 3456-7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Parceiro</label>
              </div>
              <div class="col-md-6">
                <p>UPA 24 horas - Elisa Sbrissa Franchozza</p>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Logradouro</label>
              </div>
              <div class="col-md-6">
                <p>Av. Irineu Carroci, 400</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Bairro</label>
              </div>
              <div class="col-md-6">
                <p>Jardim Jose Ometto II</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Localidade</label>
              </div>
              <div class="col-md-6">
                <p>Araras</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>UF</label>
              </div>
              <div class="col-md-6">
                <p>SP</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>CEP</label>
              </div>
              <div class="col-md-6">
                <p>13606-414</p>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="items"
            role="tabpanel"
            aria-labelledby="items-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Itens</label>
              </div>
              <div class="col-md-6">
                <p>Av. José Ometto</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Itens</label>
              </div>
              <div class="col-md-6">
                <p>10$/hr</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Itens</label>
              </div>
              <div class="col-md-6">
                <p>230</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Itens</label>
              </div>
              <div class="col-md-6">
                <p>Expert</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasChangePassword"
  aria-labelledby="offcanvasChangePassword"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasChangePassword">Trocar Senha</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">...</div>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasEditUser"
  aria-labelledby="offcanvasEditUserl"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasEditUser">Editar Usuário</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">...</div>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasChangedEmployer"
  aria-labelledby="offcanvasChangedEmployer"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasChangedEmployer">Troquei de Empregador</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">...</div>
</div>

<app-footer></app-footer>
