<div class="p-3 mb-0 text-center text-white" style="background-color: #5f249f">
  <div class="container">
    <div class="row">
      <div
        class="col-md-8 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0"
      >
        <a href="" class="ms-md-2" style="text-decoration: none">
          <img src="../assets/images/logo.png" height="50" />
        </a>
      </div>

      <div
        class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center"
      >
        <div class="d-flex">
          <div class="dropdown">
            <a class="text-reset me-3" href="#">
              <i class="fas fa-bell"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
