.what-we-do {
  padding: 1rem 0 1rem;
  background-color: #bea2dd;
}

.what-we-do .content {
  padding: 30px;
  background: #5f259f;
  border-radius: 10px;
  color: #fff;
}

.what-we-do .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.what-we-do .content p {
  margin-bottom: 30px;
}

.what-we-do .icon-boxes .icon-box {
  text-align: center;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.what-we-do .icon-boxes .icon-box i {
  font-size: 40px;
  color: #5f259f;
  margin-bottom: 30px;
}

.what-we-do .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.what-we-do .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}
