@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main: #5f259f;
  --base: #8a5bbe;
  --accent: #bea2dd;
  --darkgray: #a9a9a9;
  --gray: #f3f3f3;
  --green: #8bc34a;
  --font1: "Roboto", sans-serif;
  --font2: "Heebo", sans-serif;
}

// COMMON
body {
  font-family: var(--font1) !important;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--accent);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--main);
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--darkgray);
}

.form-control:focus,
.form-select:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 0.25rem rgb(95 37 159 / 25%);
}

// SCROLLBAR
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 11px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

// CARD PRODUCTS
.container-fluid {
  max-width: 1200px;
}

.card-product,
.card-publicity {
  background: var(--white);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  border: 0 !important;
  border-radius: 1rem !important;
}

.card-publicity .card-title {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font3) !important;
}

.card-product {
  cursor: pointer;
}

.card-product:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-product__label--top {
  position: absolute;
  background-color: var(--green);
  color: var(--white);
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

.card-product h5 {
  overflow: hidden;
  height: 56px;
  font-weight: 900;
  font-size: 1rem;
}

.card-product__img--top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

.card-product__img--top {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  padding: 30px;
}

@media (max-width: 768px) {
  .card-product__img--top {
    max-height: 250px;
  }
}

.card-title {
  font-weight: 600 !important;
}

.card-product__badge {
  font-size: 0.85rem !important;
  background-color: var(--base);
}

.card-product__label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--darkgray);
}

.card-product__title {
  font-size: 1.15rem;
  font-weight: 900;
  color: var(--black);
}

// BUTTONS
.btn-call-action--outline {
  border-radius: 100px !important;
  background: transparent;
  color: var(--main) !important;
  border: solid 1px var(--main) !important;
  box-shadow: -1px 6px 19px rgba(37, 15, 62, 0.25);
  outline: 0;
  font-size: 1rem !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px !important;
}

.btn-call-action--outline:hover,
.btn-call-action--outline:focus-visible,
.btn-call-action--outline:focus {
  border: none;
  text-decoration: none;
  background: none var(--base) !important;
  color: var(--white) !important;
  box-shadow: -1px 6px 13px rgba(37, 15, 62, 0.35) !important;
}

@media (max-width: 1025px) {
  .btn-call-action--outline {
    padding: 5px 40px 5px 40px;
  }
}

@media (max-width: 250px) {
  .btn-call-action--outline {
    padding: 5px 30px 5px 30px;
  }
}
